# Get Data from the following link:
http://files.grouplens.org/datasets/movielens/ml-20m.zip
We will be using the following files for this exercise:

ratings.csv : userId,movieId,rating, timestamp

tags.csv : userId,movieId, tag, timestamp

movies.csv : movieId, title, genres

I. Read the dataset using pandas.

II. Extract the first row from tags and print its type.

III. Extract row 0, 11, 2000 from tags DataFrame.

IV. Print index, columns of the DataFrame.

V. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

VI. Filter out ratings with rating > 5

VII. Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

VIII. Filter out movies from the movies DataFrame that are of type 'Animation'.

IX. Find the average rating of movies.

X. Perform an inner join of movies and tags based on movieId.

XI. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

XII. Split 'genres' into multiple columns.

XIII. Extract year from title e.g. (1995).

XIV. Select rows based on timestamps later than 2015-02-01.

XV. Sort the tags DataFrame based on timestamp.

In [5]:
import pandas as pd
df = pd.read_csv("C:\\Users\\v828066\\Desktop\\Acad1\\ml-20m\\ml-20m\\ratings.csv")
df1 = pd.read_csv("C:\\Users\\v828066\\Desktop\\Acad1\\ml-20m\\ml-20m\\tags.csv")
df2 = pd.read_csv("C:\\Users\\v828066\\Desktop\\Acad1\\ml-20m\\ml-20m\\movies.csv")

In [6]:
print(df.head());print(df1.head());print(df2.head())

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580
   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [7]:
print (df1.loc[0].dtype)

object

In [8]:
df1.iloc[0]

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

In [9]:
#Extract row 0, 11, 2000 from tags DataFrame.
df1.iloc[[0,11,2000]]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

In [10]:
#Print index, columns of the DataFrame
print(df1.index)
print(df.columns)

RangeIndex(start=0, stop=465564, step=1)
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [11]:
#Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().
df['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [12]:
#Filter out ratings with rating > 5
df[df['rating']>5]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [13]:
#Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.
import numpy as np
#df.isnull().sum().sum()
df.isnull().count()

userId       20000263
movieId      20000263
rating       20000263
timestamp    20000263
dtype: int64

In [14]:
#Filter out movies from the movies DataFrame that are of type 'Animation'
df2[df2['genres'].str.contains("Animation")]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
236,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance
241,244,Gumby: The Movie (1995),Animation|Children
310,313,"Swan Princess, The (1994)",Animation|Children
360,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
388,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation
547,551,"Nightmare Before Christmas, The (1993)",Animation|Children|Fantasy|Musical
553,558,"Pagemaster, The (1994)",Action|Adventure|Animation|Children|Fantasy
582,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
588,594,Snow White and the Seven Dwarfs (1937),Animation|Children|Drama|Fantasy|Musical
589,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
590,596,Pinocchio (1940),Animation|Children|Fantasy|Musical
604,610,Heavy Metal (1981),Action|Adventure|Animation|Horror|Sci-Fi
610,616,"Aristocats, The (1970)",Animation|Children
624,631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
653,661,James and the Giant Peach (1996),Adventure|Animation|Children|Fantasy|Musical
664,673,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...
697,709,Oliver & Company (1988),Adventure|Animation|Children|Comedy|Musical
708,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy
728,741,Ghost in the Shell (Kôkaku kidôtai) (1995),Animation|Sci-Fi
732,745,Wallace & Gromit: A Close Shave (1995),Animation|Children|Comedy
770,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance
871,888,Land Before Time III: The Time of the Great Gi...,Adventure|Animation|Children|Musical
1003,1022,Cinderella (1950),Animation|Children|Fantasy|Musical|Romance
1004,1023,Winnie the Pooh and the Blustery Day (1968),Animation|Children|Musical
1005,1024,"Three Caballeros, The (1945)",Animation|Children|Musical
1006,1025,"Sword in the Stone, The (1963)",Animation|Children|Fantasy|Musical
1010,1029,Dumbo (1941),Animation|Children|Drama|Musical
...,...,...,...
27007,129830,Animals United (2011),Animation|Children|Comedy
27008,129834,Tom and Jerry: The Lost Dragon (2014),Animation|Children|Comedy
27018,129859,Mardock Scramble: The Second Combustion (2011),Animation|Sci-Fi
27054,130034,Stand by Me Doraemon (2014),Animation|Children|Drama|Fantasy
27070,130075,Frozen Fever (2015),Adventure|Animation
27103,130394,The Mascot (1934),Animation
27107,130402,Cardcaptor Sakura: The Sealed Card (2000),Adventure|Animation|Comedy|Fantasy|Romance
27129,130506,Berserk: The Golden Age Arc 2 - The Battle for...,Action|Animation|Fantasy
27130,130508,Berserk: The Golden Age Arc - The Egg of the K...,Action|Adventure|Animation|Fantasy|Horror
27131,130510,Berserk: The Golden Age Arc 3 - Descent (2013),Action|Animation|Fantasy
27135,130518,The Amazing Screw-On Head (2006),Action|Adventure|Animation|Comedy|Sci-Fi
27136,130520,Home (2015),Animation|Children|Comedy|Fantasy|Sci-Fi
27137,130522,The Brave Little Toaster Goes to Mars (1998),Animation|Children
27155,130644,The Garden of Sinners - Chapter 5: Paradox Par...,Animation
27205,131058,Santa's Apprentice (2010),Animation|Children
27208,131066,Ronal the Barbarian (2011),Adventure|Animation|Fantasy
27215,131080,Cinderella III: A Twist in Time (2007),Animation|Children|Fantasy|Romance
27218,131086,The Little Polar Bear: Lars and the Little Tig...,Animation|Children
27221,131092,"Mickey, Donald, Goofy: The Three Musketeers (2...",Adventure|Animation|Children|Comedy
27222,131094,Rudolph the Red-Nosed Reindeer: The Movie (1998),Animation|Children
27224,131098,Saving Santa (2013),Animation|Children|Comedy
27226,131102,Lucky Luke: The Ballad of the Daltons (1978),Animation|Children|Comedy|Western
27228,131106,Casper's Haunted Christmas (2000),Animation|Children
27235,131120,Superstar Goofy (1991),Animation|Children|Comedy
27240,131130,Tom and Jerry: A Nutcracker Tale (2007),Animation|Comedy
27241,131132,Kleines Arschloch - Der Film (1997),Animation|Comedy
27247,131144,Werner - Das muss kesseln!!! (1996),Animation|Comedy
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy

In [71]:
#Find the average rating of movies.
df.groupby("movieId")["rating"].agg(np.mean).head()

movieId
1    3.921240
2    3.211977
3    3.151040
4    2.861393
5    3.064592
Name: rating, dtype: float64

In [42]:
#Perform an inner join of movies and tags based on movieId.
df2.join(df1.set_index('movieId'), on='movieId').head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644.0,Watched,1.417737e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741.0,computer animation,1.183903e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741.0,Disney animated feature,1.183933e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741.0,Pixar animation,1.183935e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741.0,TÃ©a Leoni does not star in this movie,1.245094e+09

In [41]:
#Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.
df2[df2['movieId'].isin(df.loc[df['movieId'].isin(df2[df2['genres'].str.contains('Comedy')]['movieId'])& (df['rating'] >= 4.0)]['movieId'].head())]['title']

220                   Clerks (1994)
293             Pulp Fiction (1994)
1057    Fish Called Wanda, A (1988)
1189        Army of Darkness (1993)
1250      Young Frankenstein (1974)
Name: title, dtype: object

In [50]:
#Split 'genres' into multiple columns.
df2['genres'].str.get_dummies('|').replace({0:'no', 1:'yes'}).head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,no,no,yes,yes,yes,yes,no,no,no,yes,no,no,no,no,no,no,no,no,no,no
1,no,no,yes,no,yes,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no
2,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,yes,no,no,no,no
3,no,no,no,no,no,yes,no,no,yes,no,no,no,no,no,no,yes,no,no,no,no
4,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no

In [70]:
#Extract year from title e.g. (1995).
df2['title'].str.extract(r'([0-9]+)')[0].head()

0    1995
1    1995
2    1995
3    1995
4    1995
Name: 0, dtype: object

In [100]:
#Select rows based on timestamps later than 2015-02-01.
from datetime import datetime
df1['timestamp1'] = df1['timestamp'].apply(datetime.fromtimestamp)
print(df1[df1['timestamp1']> '2015-02-01'].head())

     userId  movieId      tag   timestamp          timestamp1
301     318      260    1970s  1424472169 2015-02-21 04:12:49
302     318      260  fantasy  1424472169 2015-02-21 04:12:49
303     318      260   sci-fi  1424472169 2015-02-21 04:12:49
304     318   115149   Action  1424534310 2015-02-21 21:28:30
305     318   115149  Revenge  1424534283 2015-02-21 21:28:03

In [120]:
#Sort the tags DataFrame based on timestamp
df1.sort_values('timestamp')['tag'].head()

333932       monty python
333927      coen brothers
333924    stanley kubrick
333923     jack nicholson
333939      peter sellers
Name: tag, dtype: object